{
	"plugins": ["prettier-plugin-tailwindcss"],
	"printWidth": 80,
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"jsxSingleQuote": false,
	"tailwindStylesheet": "./src/styles.css",
	"tailwindFunctions": ["clsx", "cn", "cva"]
}
