html,
body {
	margin: 0;
}

.editor__header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--color-surface);
	box-shadow: var(--shadow-3);
}

.editor__aside {
	width: 250px;
	height: 100dvh;
	position: fixed;
	left: 0;
	top: 56px;
	z-index: 9;
	background-color: var(--color-surface);
	box-shadow: var(--shadow-3);
}

.editor__main {
	margin-top: 56px;
	margin-left: 250px;
}
